<div
  class="ngb-select-wrapper dropdown"
  [ngClass]="{
    'is-up': isUp,
    'is-active': isOpen
  }">
  <div class="dropdown-trigger">
    <button
      class="ngb-select-button button"
      (click)="handleNonInputClicked($event)"
      (keydown)="focusFirstItemOnArrowDown($event)"
      tabindex="-1">
      <span (mousedown)="preventDefault($event)">
        @if (!selectedItem) {
          <input
          #filterInput
          class="ngb-select-input input"
          [placeholder]="placeholder"
          [(ngModel)]="filterTerm"
          (ngModelChange)="filterItems()"
          (focus)="openDropdown()"
          (blur)="closeDropdownOnInputBlur($event)"
          (keydown)="closeDropdownOnEsc($event)">
        }
        @else {
          <input
            class="ngb-select-value input"
            [value]="selectedItem"
            (focus)="openDropdown()"
            (blur)="closeDropdownOnInputBlur($event)"
            (keydown)="deselectItemOnEsc($event)"
            readonly>
        }
        <span class="ngb-select-icons">
          @if (selectedItem) {
            <span
              tabindex="0"
              (click)="clearSelection()"
              (keydown)="deselectItemOnEnter($event)"
              class="icon is-small">
              <i class="fa-solid fa-xmark"></i>
            </span>
          }
          <span class="icon is-small">
            <i class="fas fa-angle-down"></i>
          </span>
        </span>
      </span>
    </button>
  </div>
  <div
    class="dropdown-menu"
    role="menu">
    @if (displayedItems.length) {
      <div class="ngb-dropdown-content dropdown-content">
        @for (item of displayedItems; track item; let index = $index) {
          @if (index !== 0) {
            <hr class="dropdown-divider" />
          }
          <a
            #itemAnchor
            tabindex="0" 
            class="ngb-dropdown-item dropdown-item"
            [ngClass]="{'is-active': item === selectedItem}"
            (keydown)="navigateListOnArrow($event)"
            (keyup)="closeDropdownOnEsc($event)"
            (keypress)="selectItemOnEnter($event, item)"
            (click)="onItemSelected(item)">
          {{item}}
          </a>
        }
      </div>
    }
  </div>
</div>
