<div class="p-3">
  <ngb-select
    [placeholder]="'position'"
    [items]="['top', 'bottom', 'top-right', 'top-left', 'bottom-right', 'bottom-left']"
    [(ngModel)]="notificationPosition">
  </ngb-select>
  <br>
  <ngb-select
    placeholder="color"
    [items]="['link', 'primary', 'info', 'success', 'warning',  'danger', 'none']"
    [(ngModel)]="notificationColor">
  </ngb-select>
  <br>
  <input class="input" placeholder="Notification Text" type="text" [(ngModel)]="notificationText">
  <br>
  <button
    class="button is-info"
    (click)="notify()">
    Notify
  </button>
</div>